{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html>
<head>
    {% leaflet_css %}
    {% leaflet_js %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'maps/css/mapstyle.css' %}" />
    <script src="main.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>